/* For image centering */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the main content container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Style headings */
h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

/* Style paragraphs */
p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* Style buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #0056b3;
    color: #ffffff;
}

/* Style lists */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Add spacing to elements */
.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

div.container {
    text-align: center;
}

ul.myUL {
    display: inline-block;
    text-align: left;
}

/* Style the buttons in the nav bar */
nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* This will place items at each end */
}

/* Style the "Previous" and "Next" buttons */
.prev-button, .next-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.prev-button:hover, .next-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}